#inpt {
    font-family: poppinslgt;
    width: 100%;
    height: 49px;
    padding: 5px 10px;
    border: 1px solid rgb(78, 209, 209);
    border-radius: 3px;
    outline: 0;
    font-size: 14.2px;
    text-align: center;
    font-weight: 600 !important;
    letter-spacing: 0.9px;
    box-shadow: 0 6px 9px -1px rgba(0, 0, 0, 0.1), 0 4px 7px -1px rgba(0, 0, 0, 0.06);
    text-shadow: 1px 1px 1px rgb(239, 233, 233);
    background-color: var(--input--bck--color);
    color: rgb(46, 46, 9);
    transition: border-color 0.5s ease, border-width 0.5s ease; /* Slow border transition */
}
  #inpt::placeholder {
    color: #1a1818; /* Placeholder color */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Text shadow effect */
  }

  label{
    line-height: 290%;
    color: #110101 !important;
    font-size:16px;
  }


 
  input:focus {
    border: 1.5px solid #4edd52 !important; /* Green border color when focused */
  }

  @media screen and (max-width: 520px) {
    input#inpt
    {
     
      height: 48px;
      font-weight: 900 !important;
      border-radius: 4px;
    }
  }

  