#inpt {
  font-family: 'Poppins', sans-serif; /* Correct font name */
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  border: 2px solid var(--body-header);
  border-radius: 4px;
  outline: none;
  font-size: 16.9px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.9px;
  background-color: var(--input--bck--color);
  color: #2e2e09;
  /* Visual improvements */
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.08),
    0 1px 3px rgba(0, 0, 0, 0.05);
  text-shadow: 1px 1px 1px rgba(239, 233, 233, 0.8);

  transition: border-color 0.4s ease, box-shadow 0.4s ease;
}

#inpt::placeholder {
  color: #1a1818;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  line-height: 2.8;
  color: var(--body-header);
  font-size: 16.5px;
  font-weight: 500;
  margin-bottom: 4px;
}

input:focus {
  border: 3px solid var(--body-header);
  box-shadow: 0 0 5px var(--body-header)(78, 221, 82, 0.5);
}

/* Responsive Tweaks */
@media screen and (max-width: 620px) {
  #inpt {
    height: 44px;
    font-weight: 700;
    border-radius: 6px;
    font-size: 19px;
    border: 1px solid var(--body--txt-tx);
  }
}
