@font-face {
  font-family: projectFont;
  src: url('./assest/font/Poppins-Light.ttf');
}

body {
  background-color: rgb(227, 226, 226);
  font-family: projectFont;
  line-height: 160%;
  box-sizing: border-box;
  margin: 2%;
}

/*framework */
.dailyspend--main--app {
  margin: 1% auto;
  padding: 3px 20px;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #a3bac3;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 243, 245);
}

.dailyspend--head {
  width: 120%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}
span>h4 {
  background-color: #a3bac3;
  width: 100%;
  padding: 6px 15px;
  color: rgb(15, 4, 4);
  border-radius: 13px 0;
  font-size: bold;
  padding: 1rem;
  border-left: 1rem solid#006989;
  border-right: 1rem solid #e1e4ea;
}


.dailyspend--add--item-block {
  margin-top: 15%;
  background-color: #a3bac3;
  height: 60px;
  border: 3px;
  padding: 1rem 1.2rem;
  border: 1px solid gray;
  box-shadow: 2px 2px rgb(195, 207, 218);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
  position: relative;
}

input {
  width: 450px;
  height: 20px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 3px;
  outline: 0;
  font-size: 13px;
  letter-spacing: 0.8px;
  font-family: projectFont;
  font-weight: bold;
}

input:hover,
button:hover {
  cursor: pointer;
}

input:focus,
button:focus {
  border-bottom: 1.5px solid rgb(212, 212, 228);
}

button {
  background-color: #006989;
  border: none;
  height: 30px;
  border-radius: 3px;
  width: 150px;
  border: 0.5px solid rgb(162, 166, 162);
  font-weight: 600;
  font-family: projectFont;
  font-size: 13px;
  letter-spacing: 0.7px;
  color: rgb(231, 230, 230);
}


p {
  font-size: 10px;
  align-items: flex-end;
  text-align: left;
  font-weight: 600;
}


/*
dropdown list
*/
.spendList_display_screen {
  /* width: 140px;
  height: 140px;
  padding: 5px 15px;
  scroll-behavior: smooth;
  font-size: 12px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  background-color: gray; */
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #3B3C3E;
  font-size: 12px;
  height: 180px;
  font-weight: bold;
  left: -1px;
  padding: 10px 7px 5px;
  width: 240px;
  overflow: hidden;
  position: absolute;
  top: 65px;
  left: 20px;
  overflow: scroll;
  overflow-x: hidden;
}

.display--item>.dailyspend--display--item>h4{
  padding: 10px;
  background-color: #c2d2da;
  width: auto;
}

.dailyspend--display--item {
  background-color: #a3bac3;
  margin-top: 7%;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #38393f;
  font-size: 12px;
  width: 100%;
  height: 180px;
  font-weight: bold;
  left: -1px;
  padding: 10px 7px 5px;
  width: 100%;
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
  
}

td {
  border-bottom: 1px solid rgb(200, 198, 198);
}

tr:hover {
  background-color: rgb(216, 215, 215);
  padding: 15px 10px;
  cursor: pointer;
  width: 100%;
}

table {
  margin-top: 2%;
  width: 380px;
  border: 1px solid rgb(232, 231, 231);
  font-size: smaller;
}

.btn--push--local--db {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.btn--push--local--db>button {
  margin-top: 10px;
  background-color: #006989;
  border: 1.4px solid rgb(164, 163, 163);
  height: 28px;
}

.pushMenu {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  margin-top: 15%;
}

.pushMenu>button {

  width: 20%;
  font-family: projectFont;

  /* CSS */
  color: rgb(239, 237, 237);
  align-items: center;
  border: 0.4px solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  display: inline-flex;
  font-family: projectFont;
  font-size: 0.6rem;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 14px 24px;
  text-decoration: none;
  width: auto;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  letter-spacing: 0.7px;

}


.pushMenu>div>p {
  font-size: 12px;
  font-weight: 600;
}

.pushMenu>div>p:hover {
  font-size: 12px;
  font-weight: bold;
}

.pushMenu>div:hover {
  cursor: pointer;
  box-shadow: 3px 8px 10px 14px rgba(157, 156, 156, 0.1);
  color: rgb(0, 0, 0);
}

.pushMenu>div {
  border: 1.2px solid rgb(71, 17, 17);
}

@media screen and (max-width: 450px) {
  body {
    zoom: 97%;
  }

  
  .dailyspend--add--item-block {
    flex-direction: column;
    align-items: flex-end;
    height: 120px;
  }

  input {
    width: 259px;
    height: 35px;
  }

  .dailyspend--add--item-block {
    width: 298px;
    gap: 1.5rem;
  }

  button {
    height: 41px !important;
  }

  .pushMenu {
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 1rem 0.1rem;
    margin-top: 15%;

  }

  table {
    width: 265px;
  }

  .spendList_display_screen {
    top: 50%;
    width: 110px;
    height: 150px;
  }

  .dailyspend--display--item {
    width: 320px;
  }
}