@font-face {
  font-family: projectFont;
  src: url('./assest/font/Poppins-Medium.ttf');
}

* {
  font-family: projectFont, sans-serif;
  line-height: 160%;
  font-size: 13.5px;
  letter-spacing: 0.8px;
  box-sizing: border-box;
  line-height: 170%;
}

body {
  background-color: rgb(227, 226, 226);
}

/*framework */
.dailyspend--main--app {
  box-sizing: border-box;
  margin: 1% auto;
  padding: 0.525rem 0.525rem;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #a3bac3;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 243, 245);
  overflow: hidden;
  position: relative
}

.dailyspend--head {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0.12rem;
  border: 1.5px solid #04171f;
  border-radius: 0.125rem 0;
  background-color: #a3bac3;
  border-left: 8.245rem solid#006989;
  border-right: 1rem solid #e1e4ea;
}

.dailyspend--head>h4 {
  width: 100%;
  color: rgb(15, 4, 4);
  border-radius: 13px 0;
  font-weight: bolder;
  font-size: 16px;
  padding: 0.234rem;
}


.dailyspend--add--item-block {
  margin-top: 15%;
  background-color: #a3bac3;
  height: 60px;
  border: 3px;
  padding: 1rem 1.2rem;
  border: 1px solid gray;
  box-shadow: 2px 2px rgb(195, 207, 218);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
  position: relative;
}

input {
  width: 450px;
  height: 35px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 3px;
  outline: 0;
  font-size: 13px;
  letter-spacing: 0.8px;
  font-weight: bold;
}

button {
  color: rgb(239, 237, 237);
  align-items: center;
  border: 0.4px solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  display: inline-flex;
  font-family: projectFont;
  font-size: 0.725rem;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 14px 34px;
  text-decoration: none;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  letter-spacing: 0.7px;
  background-color: #006989 !important;
  outline: none;

}

input:hover,
button:hover {
  cursor: pointer;
}

input:focus,
button:focus {
  border-bottom: 1px solid rgb(163, 42, 42);
}




p {
  font-size: 10px;
  align-items: flex-end;
  text-align: left;
  font-weight: 600;
}


/*
dropdown list
*/
.spendList_display_screen {
  background-color: #F5F5F5;
  border: 1px solid #d7cdcd;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  border-radius: 4px 0;
  color: #3B3C3E;
  height: 150px;
  font-weight: 500;
  font-size: 0.4235rem !important;
  padding: 10px 7px 5px 6px;
  width: 234px;
  overflow: hidden;
  position: absolute;
  bottom: 50px;
  left: 18px;
  overflow: scroll;
  overflow-x: hidden;
}

.spendList_display_screen>tr {
  font-size: 0.726rem;
}

.spendList_display_screen::-webkit-scrollbar {
  display: none;
}

.display--item>.dailyspend--display--item>h4 {
  padding: 10px;
  background-color: #c2d2da;
  width: auto;
}

.dailyspend--display--item {
  background-color: #a3bac3;
  margin-top: 7%;
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 4px 0;
  color: #38393f;
  font-size: 12px;
  width: 100%;
  height: 180px;
  font-weight: bold;
  left: -1px;
  padding: 10px 7px 5px;
  width: 100%;
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
}

.dailyspend--display--item::-webkit-scrollbar {
  display: none;
}

/* table related css*/
table {
  margin-top: 2%;
  width: 100%;
  border: 1px solid rgb(232, 231, 231);
  font-size: smaller;
}


td {
  border-bottom: 1px solid rgb(218, 218, 218);
  padding: 3px 3px;
  font-size: 10px !important;
}

tr:hover {
  background-color: rgb(216, 215, 215);
  padding: 15px 10px;
  cursor: pointer;
  width: 100%;
}



.btn--push--local--db {
  display: flex;
  flex-direction: row;
  justify-content: end;
}


.pushMenu {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  margin-top: 15%;
}




.pushMenu>div>p {
  font-size: 12px;
  font-weight: 600;
}

.pushMenu>div>p:hover {
  font-size: 12px;
  font-weight: bold;
}

.pushMenu>div:hover {
  cursor: pointer;
  box-shadow: 3px 8px 10px 14px rgba(157, 156, 156, 0.1);
  color: rgb(0, 0, 0);
}

.pushMenu>div {
  border: 1.2px solid rgb(71, 17, 17);
}

@media screen and (max-width: 450px) {
  body {
    zoom: 100%;
    box-sizing: border-box;
  }


  .dailyspend--add--item-block {
    flex-direction: column;
    align-items: flex-end;
    height: 100px;
  }

  input {
    width: 100%;
    height: 32px;
  }

  .dailyspend--add--item-block {
    width: 100%;
    padding: 10px;
    gap: 1.5rem;
  }

  .spendList_display_screen {
    top: 50%;
    width: 150px;
    height: 150px;
  }
}