@media screen and (max-width: 750px) {
  * {
    line-height: 150%;
  }

  h2{
    font-size: 55px;
  }

  .windowcls>.menu--main--header {
    display: none;
  }

  .mobilecls {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .mobilecls.header--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;

  }

  .mobilecls.header--icon:hover {
    cursor: pointer;

  }

  .mobilecls.inactive {
    display: none;
  }

  .home-header{
    font-size: 20px;
  }
    .dailyspend--head>div:nth-child(1) {
    width: 70%;
    height: 50px;
  }
     

  .dailyspend--head>div:nth-child(2) {
    width: 30%;
  }


  .mobilecls>.menu--main--header {
    height: 100vh;
    width: 200px;
    position: fixed;
    left: 0;
    background-color: #04171f;
    color: #1aa880;
    padding-top: 5px;
    overflow-x: hidden;
    z-index: 1000;
    border-right: 1px solid rgb(59, 59, 66);
  }

  .mobilecls>.menu--main--header>ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;

  }

  .mobilecls>.menu--main--header>ul>li {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1aa880;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 12.8px;
    transition: 0.3s;
    border-bottom: 1px solid rgb(107, 85, 85);
  }



  .mobilecls>.menu--main--header>.mobile-menu-header-close {
    padding: 10px 10px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-Direction: row;
    justify-Content: end;
    align-Items: center;
  }
 .select--menu
 {
  margin-top: 4%;
 }

  .select--menu--main {
    display: flex;
    flex-direction: column;
  }

  body {
    box-sizing: border-box;
  }


  .dailyspend--main--app {
    height: 100vh;
    padding: 0 0.3rem;
  }

  .dailyspend--head>h1 {
    font-size: 16px;
  }


  .Menu {
    width: auto;
    height: 45px;
    border-top: 1.5px solid rgb(212, 212, 212);
    border-radius: 0 0 0 12px;
    padding: 0.4rem 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    letter-spacing: 1px;
  }

  .dailyspend--add--item-block {
    position: relative;
    flex-direction: column;
    height: 275px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px 12px;
  }

  input {
    width: 310px;
    height: 48px;
    font-size: 15px;
    font-weight: bolder;
  }

  .dailyspend--add--item {
    line-height: 300%;
    display: flex;
    flex-direction: column;
  }

  .spendList_display_screen {
    width: 305px;
    height: 150px;
    top: -139%;
  }

  .display--lastupdate {
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    border: 0.4px solid #04171f;
  }

  .notification {
    right: 0;
  }

  .select--menu--main {
    height: auto;
  }

  .select--menu {
    width: 100%;
    padding-bottom: 4.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 8px;

  }

  .select--menu--selects {
    width: 100%;
    background-color: #04171f;
    color: #1aa880;
  }

  .select--menu>button {
    width: 80px;
  }

  button {
    font-size: 13px;
    text-shadow: 1px 1px 19px rgb(100, 108, 108)
  }

  table>tr {
    padding: 3px 2px;

  }
}


@media screen and (max-width: 550px) {
  .mobilecls>.menu--main--header>.mobile-menu-header-close {
    padding: 1px 10px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-Direction: row;
    justify-Content: end;
    align-Items: center;
  }
 h2{
    font-size: 35px;
    text-transform: uppercase;
  }
  .dailyspend-view-header-context
{
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  

}
  .mobilecls>.menu--main--header>.mobile-menu-header-close:hover {
    cursor: pointer;
  }

  .windowcls>.menu--main--header {
    display: none;
  }

  .mobilecls>.menu--main--header {
    margin-top: 0;
    display: block;
  }

  .home-header>h1 {
    font-size: 37px;
  }

  .drop--down--input--icon>input {
    height: 37px;
  }

  .select--menu--selects {
    height: 35px;
    font-size: 12px;
  }
  .dailyspend--display--item
  {
    height: 640px;
   }
}