body {
  margin: 0;

}

:root
{
  --header-backgroundcolor:#cfcf71;
  --body--bck:#9d9d46;
  --header--menu-bck:rgb(4, 40, 56);
  --payment--block--bck:rgb(7, 57, 77);
  --footer--font-bck:rgb(183, 178, 178);
  --input--bck--color:rgb(221, 231, 234);
  --input--font--color:black;
}

