.payinfobymenu {
    margin-top: 5rem;
    border: 1px solid rgb(246, 241, 241);
    height: 50px;
    display: flex;

}

.payinfobymenu-item-total-display {
    width: 100%;
    background-color: var(  --body--bck);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(254, 251, 251);
    font-size: 14px;
    border-radius: 4px;

}

.payinfobymenu-item--display {
    margin-top: 0.3rem;
    width: inherit;
    height: 335px;
    padding: 0.5rem;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden;

}

.payinfobymenu-item--display::-webkit-scrollbar {
    display: none;
}



@media screen and (max-width: 520px) {
    .payinfobymenu-item--display {
        height: 70vh;
    }
    .payinfobymenu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

}