.payinfobymenu {
    margin-top: 5rem;
    border: 1px solid rgb(53, 44, 44);
    height: 50px;
    display: flex;
    background-color: #04171f;
    column-gap: 10px;
    padding-bottom: 30px;


}

.payinfobymenu-item-total-display {
    width: 100%;
    background-color: #22cc9d;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: #04171f;
    font-size: 14px;
    border-radius: 4px;

}

.payinfobymenu-item--display {
    margin-top: 0.3rem;
    width: inherit;
    height: 345px;
    padding: 0.5rem;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden;

}

.payinfobymenu-item--display::-webkit-scrollbar {
    display: none;
}



@media screen and (max-width: 520px) {
    .payinfobymenu-item--display {
        height: 60vh;
    }
    .payinfobymenu {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
    }

    .payinfobymenu-item--display{
        padding: 0;
        margin: 0;
    }
    .payinfobymenu-item-total-display{
        margin-top: 10px;
        height: 40px;
    }

}