.payinfobymenu {
    margin-top: 5rem;
    border: 1px solid rgb(246, 241, 241);
    height: 50px;
}

.payinfobymenu-item-total-display {
    margin-top: 1rem;
    background-color: var(  --body--bck);

}

.payinfobymenu-item--display {
    margin-top: 0.3rem;
    width: inherit;
    height: 4500px;
    padding: 0.5rem;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden;
    background-color:var(  --payment--block--bck);
    height: 100%;


}

.payinfobymenu-item--display::-webkit-scrollbar {
    display: none;
}



@media screen and (max-width: 520px) {
    .payinfobymenu-item--display {
        height: 100vh;
    }

}